name: Build the web book

on:
  push:
    branches: "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  hexdoc:
    uses: hexdoc-dev/hexdoc/.github/workflows/hexdoc.yml@v1!0.1.dev
    permissions:
      contents: write
      pages: read
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      python-version: 3.11
      pip-extras: " --find-links ./doc/libs"  # FIXME: remove when Hexal is published to PyPI
      release: false
      deploy-pages: |-
        ${{
          github.event_name != 'pull_request'
          && contains(
            fromJson('["main", "1.19"]'),
            (github.head_ref || github.ref_name)
          )
        }}
